{% extends "layout.html" %}

{% block title %}
    Log In
{% endblock %}

{% block main %}
    <form action="/sell" method="post">
        <div class="mb-3">
            <select name="symbol" id="symbol" onchange="updateMaxShares()">
                {% for stock in stocks %}
                    <option value="{{stock['stock_symbol']}}">{{stock['stock_symbol']}}</option>
                {% endfor %}
            </select>
        </div>
        <div class="mb-3">
            <input class="form-control mx-auto w-auto" style="min-width: 200px" id="shares" name="shares" placeholder="Number of Shares" type="number" min="1" required>
        </div>
        <button class="btn btn-primary" type="submit">Sell</button>
    </form>
    <script>
        // Convert your stocks array to a JavaScript object
        const stocks = {{ stocks | safe }};

        function updateMaxShares() {
            const selectedSymbol = document.getElementById('symbol').value;
            const stock = stocks.find(s => s.stock_symbol.toUpperCase() === selectedSymbol.toUpperCase());
            document.getElementById('shares').max = stock ? stock.shares : 1; // Fallback max value if stock is not found
        }

        // Initialize max shares based on the initially selected stock
        window.onload = updateMaxShares;
    </script>
{% endblock %}
